@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #000000);
}
section .color
{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #a510fc;
}
section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #1726f7;
}
section .color:nth-child(3)
{
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #6d005b;
}
.box
{
    position: relative;
}
.box .square
{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2); 
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate 
{
    0%,100%
    {
        transform: translateY(-40px);
    } 
    50%
    {
        transform: translateY(40px);
    }    
}
.box .square:nth-child(1)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2)
{
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3)
{
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4)
{
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5)
{
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
.container
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2); 
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before 
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}
.form .inputBox
{
    width: 100%;
    margin-top: 20px;
}
.form .inputBox input
{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgb(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder
{
    color: #fff;
}
.form .inputBox input[type="submit"]
{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.forget
{
    margin-top: 5px;
    color: #fff;
}
.forget a
{
    color: #fff;
    font-weight: 600;
}

:root {
    --primary: #7621cb;
    --primary-darker: #7c56e5;

    --white: #ffffff;
    --bg: #1e1e28;

}

* {
    margin: 0;
    padding: 0;
}
*,::before,::after {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito';
    font-size: 16px;
    background-color: var(--bg);
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a {
    position: relative;
    width: 225px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 35px;
    background-color: rgb(255 255 255 / 10% );
    overflow: hidden;
}
a::after {
    content: '';
    position: absolute;
    background-color: var(--primary);
    inset: 25px 0;
}
a:hover::after {
    inset: -3px 0;
    transform: rotate(360deg);
    transition: inset 2s .5s, transform 2s;
}
a span {
    position: absolute;
    font-weight: 800;
    color: var(--white);
    letter-spacing: 2px;
    background: linear-gradient(157deg, #141414, var(--bg));
    inset: -3px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    transition: inset  .3S, color .3s;
}
a:hover span {
    inset: 3px;
    color: var(--primary);
}
a span::before {
    content: '';
    position: absolute;
    background-color: var(--primary-darker);
    inset: 0;
    z-index: -1;
    transition: transform .3s, inset .3s, background-color .3s;
}
a:hover span::before {
    background-color: var(--primary);
    inset: 42px 0;
    transform: rotate(70deg);
}
a:hover {
    filter: drop-shadow(0 0 10px var(--primary));
    transition: filter .3s 1.75;
}